<div class="container">
<form class="form" role="form">
  <div class="form-group">
    <div class="col-xs-10">
      <input
        type="text"
        class="form-control"
        data-ng-model="search.t"
        placeholder="Movie Title"
      />
    </div>
  </div>
  <button
    type="button"
    class="btn btn-default"
    data-ng-click="basicSearch()"
  >
    Find Movie
  </button>
</form>
</div>

<div class="movieData" data-ng-show="movie">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="moviePoster">
          <img
            data-ng-src="{{movie.Poster}}"
            alt="{{movie.Title}}"
          />
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-8">
        <div class="row">
          <div class="col-xs-12">
            <h1>{{movie.Title}}</h1>
            <span class="year">({{movie.Year}})</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
