<div class="container">
  <h1 class="mainTitle text-center">
    Movie Search
  </h1>
  <form class="form" role="form" data-ng-submit="basicSearch()">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        data-ng-model="search.s"
        placeholder="Movie Title"
      />
      <span class="input-group-btn">
        <button
          class="btn btn-default"
          type="button"
          data-ng-click="basicSearch()"
        >
          Find Movie
        </button>
      </span>
    </div><!-- /input-group -->
  </form>
  <div class="row">
    <div class="col-xs-12 text-center">
      Powered by <a href="http://omdbapi.com" title="OMDB API">OMDB Api</a>. An Open Movie Database
    </div>
  </div>
</div>
